<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "magic_tetris.COOL_donkey_stack.edu.mit.scratch"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>[Harry Potter Tetris]</name>

    <description>
        The Ultimate Harry potter tetris game.
    </description>

    <author href="http://scratch.mit.edu/users/COOL_donkey_stack" email="saragarg1234@gmail.com">
        COOL_donkey_stack
    </author>

</widget>
